:root {
  --cyan-50: 238 253 253;
  --cyan-100: 211 250 250;
  --cyan-200: 173 242 244;
  --cyan-300: 116 230 236;
  --cyan-400: 54 209 220;
  --cyan-500: 24 180 194;
  --cyan-600: 23 145 163;
  --cyan-700: 26 116 132;
  --cyan-800: 30 95 108;
  --cyan-900: 29 79 92;
  --cyan-950: 13 52 63;

  /* blue */
  --blue-50: 241 245 253;
  --blue-100: 223 233 250;
  --blue-200: 197 217 248;
  --blue-300: 158 192 242;
  --blue-400: 112 159 234;
  --blue-500: 91 134 229;
  --blue-600: 57 96 215;
  --blue-700: 48 77 197;
  --blue-800: 45 64 160;
  --blue-900: 41 57 127;
  --blue-950: 29 37 78;

  /* sky */
  --sky-50: 238 248 255;
  --sky-100: 217 239 255;
  --sky-200: 188 228 255;
  --sky-300: 142 212 255;
  --sky-400: 89 187 255;
  --sky-500: 69 165 255;
  --sky-600: 27 125 245;
  --sky-700: 20 102 225;
  --sky-800: 23 82 182;
  --sky-900: 25 71 143;
  --sky-950: 20 44 87;

  /* green */
  --green-50: 239 254 243;
  --green-100: 216 255 230;
  --green-200: 180 254 207;
  --green-300: 122 251 171;
  --green-400: 56 239 125;
  --green-500: 15 216 91;
  --green-600: 6 179 72;
  --green-700: 9 140 60;
  --green-800: 13 110 51;
  --green-900: 13 90 45;
  --green-950: 0 51 22;

  /* teal */
  --teal-50: 240 253 250;
  --teal-100: 205 250 240;
  --teal-200: 155 244 228;
  --teal-300: 97 231 211;
  --teal-400: 49 208 189;
  --teal-500: 24 180 164;
  --teal-600: 17 153 142;
  --teal-700: 17 116 109;
  --teal-800: 19 92 88;
  --teal-900: 20 77 73;
  --teal-950: 5 46 45;

  /* pink */
  --pink-50: 254 241 251;
  --pink-100: 254 229 249;
  --pink-200: 255 202 245;
  --pink-300: 255 159 235;
  --pink-400: 255 99 218;
  --pink-500: 255 77 205;
  --pink-600: 240 18 167;
  --pink-700: 209 5 136;
  --pink-800: 173 7 111;
  --pink-900: 143 12 95;
  --pink-950: 88 0 54;

  /* purple */
  --purple-50: 250 245 255;
  --purple-100: 243 232 255;
  --purple-200: 233 213 255;
  --purple-300: 216 181 253;
  --purple-400: 192 133 251;
  --purple-500: 171 92 246;
  --purple-600: 147 52 233;
  --purple-700: 126 35 205;
  --purple-800: 107 34 167;
  --purple-900: 88 29 134;
  --purple-950: 59 8 99;

  /* yellow */
  --yellow-50: 254 252 236;
  --yellow-100: 252 244 201;
  --yellow-200: 249 231 142;
  --yellow-300: 246 215 92;
  --yellow-400: 243 194 44;
  --yellow-500: 236 163 20;
  --yellow-600: 209 124 14;
  --yellow-700: 174 89 15;
  --yellow-800: 141 69 19;
  --yellow-900: 116 57 19;
  --yellow-950: 67 29 5;

  /* orange */
  --orange-50: 255 248 237;
  --orange-100: 255 240 212;
  --orange-200: 255 222 168;
  --orange-300: 255 197 112;
  --orange-400: 255 160 55;
  --orange-500: 255 128 8;
  --orange-600: 240 104 6;
  --orange-700: 199 78 7;
  --orange-800: 158 61 14;
  --orange-900: 127 53 15;
  --orange-950: 69 24 5;
  

  /* red */
  --red-50: 255 241 241;
  --red-100: 255 223 223;
  --red-200: 255 197 197;
  --red-300: 255 157 157;
  --red-400: 255 100 100;
  --red-500: 255 65 65;
  --red-600: 237 21 21;
  --red-700: 200 13 13;
  --red-800: 165 15 15;
  --red-900: 136 20 20;
  --red-950: 75 4 4;
}