@use "./colors.scss";

html,
body {
  overflow: hidden;
}

.layout {
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 21/9) {
  .layout {
    aspect-ratio: 21 / 9;
    width: auto;
  }
}

@media (max-aspect-ratio: 1/1) {
  .layout {
    aspect-ratio: 1 / 1;
    height: auto;
  }
}

.bg-primary {
  background: radial-gradient(at 60% top, rgba(30, 36, 75, 1) 0%, rgba(16, 16, 36, 1) 100%);
}

.bg-secondary {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}

.reset-range {
  -webkit-appearance: none;
  

  ::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 100%;
  }

  ::-webkit-slider-runnable-track {
    height: 100%;
  }
}
