.gradient-bg-secondary {
  background: radial-gradient(at top, #2d3438 0%, #203141 100%);
}

:root {
  --ease-spring: linear(0.00, -0.00576, 0.0198, 0.0707, 0.142, 0.228, 0.324, 0.427, 0.531, 0.633, 0.731, 0.823, 0.906, 0.979, 1.04, 1.09, 1.14, 1.17, 1.19, 1.20, 1.21, 1.20, 1.20, 1.18, 1.17, 1.15, 1.13, 1.11, 1.09, 1.06, 1.05, 1.03, 1.01, 0.997, 0.985, 0.976, 0.969, 0.963, 0.960, 0.958, 0.958, 0.959, 0.961, 0.964, 0.968, 0.972, 0.976, 0.980, 0.985, 0.989, 0.993, 0.996, 0.999, 1.00, 1.00, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00);
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + 2rem));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + 2rem));
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

